#menu{
	width:30px;
	height:330px;
	right:30px;
	top:150px;
	position:fixed;
}
.knap{
	width:30px;
	height:30px;
	background-color:red;
	margin-bottom:30px;
	border-radius:100%;
}
#login{
	width:200px;
	height:330px;
	background-color:#820730;
	border-radius:20px;
	position:absolute;
	top:150px;	
	right:-210px;
	transition: all 0.5s linear;
}
#login.flyttet{
	right: 70px;
}
button{
	width:30px;
	height:30px;
	background-color:red;
	border-radius:100%;
	border: 0px;
}
.input{
	width:160px;
	height:30px;
	margin: 20px 20px 0px 20px;
	background-color:#000;
	border: 0px solid;
	color:#fff;
}


